.listItemContainer {
  height: 150px;
  width: 250px;
  border: 1px solid black;
}

.listItemAvatar {
  height: 50px;
  width: 50px;
}

.clientDetailsContainer {
  height: 800px;
  width: 1095px;
  border: 1px solid black;
  float: right;
}

.searchInputContainer {
  display: flex;
  flex-direction: row;
}

.searchInputContainer input {
  width: 200px;
  height: 30px;
}

.searchInputContainer img {
  width: 50px;
  height: 36px;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
